[user]
	email = stefan.sommer.per@gmail.com
	name = Stefan Sommer

[alias]
    a = add
    c = commit
    ca = commit --amend
    s = status
    p = push
    pf = push -f
    pl = pull
    d = diff
    co = checkout
    cp = cherry-pick
    st = stash
    b = branch
    f = fetch
    fa = fetch --all
    rb = rebase
    rbc = rebase --continue
    unstage = reset HEAD --

[commit]
    verbose=true

[credential]
	helper = store

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true
    side-by-side = true
    file-style = white bold ul "#007700"

[merge]
    conflictstyle = zdiff3

[include]
    path = ~/.gitconfig.local

[init]
	defaultBranch = main
